body {
    background-color: lightcyan;

}
main {
    height: 100%;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.75em;
}

#somos-proya .container{
    text-align: center;
    padding: 200px 12px;
}

#nuestros-programas{
    background-color: lightblue;
    color: white;
    text-align: center;
}

#nuestros-programas .container{
    padding: 15px 12px;
}

#nuestros-programas h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-programas p{
    display: none;
}

#nuestros-programas .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(43, 121, 167, 0.5),
        rgba(31, 18, 218, 0.274)
    )
    ,url("");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(6, 236, 102, 0.5),
        rgba(15, 110, 23, 0.247)
    )
    ,url("media/full-stack.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(216, 39, 39, 0.5),
        rgba(209, 68, 134, 0.164)
    )
    ,url("media/python.jpg");

}