{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<main>
<section id="nuestros-programas">
    <div class="container">
        <h2>Comunicate con nosotros</h2>
        <div class="programas">
            <div class="carta" href="https://">
                <h3>Facebook</h3>
                <button><a href="http://www.facebook.com/La-Casita-Del-Arbol-Ayala-490299887977840/photos/?ref=page_internal" target="_blank">Ir</a></button>
            </div>
            <div class="carta">
                <h3>Whatsapp</h3>
                <button><a href="https://api.whatsapp.com/send?phone=543624082451&app=facebook&entry_point=page_cta" target="_blank">Ir</a></button>
            </div>
            <div class="carta">
                <h3>Instagram</h3>
                <button><a href="#" target="_blank">Ir</a></button>
            </div>  
        </div>
    </div>
</section>
</main>       
{% endblock %}